<header>
    <nav class="container flex justify-between items-center">
        <div class="py-5 text-color-secondary font-bold text-3xl">
            <a href="/">Admin Panel</a>
        </div>
        <div >
            <ul class="flex items-center space-x-6">
                <li><a href="/" class="hover:text-color-secondary ease-in duration-200 text-lg">Home</a></li>
                <li><a href="/about" class="hover:text-color-secondary ease-in duration-200 text-lg">About</a></li>
                <li><a href="/posts" class="hover:text-color-secondary ease-in duration-200 text-lg">Logout</a></li>
            </ul>
        </div>
    </nav>
    
</header>