<section class="container bg-color-primary-light" id="about">
    <div class="relative">
        <div class="flex flex-row items-center">
            <div class="w-1/2 mt-10">
                <h1 class="text-4xl font-bold leading-snug mb-4">About Us</h1>
                <p class="leading-relaxed mb-2 w-[90%] text-lg">Welcome to LinkToServe, the premier platform connecting non-profit organizations with dedicated volunteers who are passionate about making a difference in their communities. Our website serves as a centralized hub where individuals can easily find opportunities to engage in community service and contribute to the greater good.</p>
                <p class="leading-relaxed mb-2 w-[90%] text-lg">At LinkToServe, we believe in the transformative power of community service. Engaging in volunteer work not only benefits the causes and organizations we support but also has a profound impact on individuals, fostering personal growth, empathy, and a sense of purpose. We recognize that there are countless non-profit organizations working tirelessly to address various social issues, but oftentimes, they struggle to find the right volunteers to assist them in their missions.</p>
                <p class="leading-relaxed mb-2 w-[90%] text-lg">Our goal is to bridge this gap by providing a user-friendly platform that connects non-profit organizations with enthusiastic volunteers. We understand that people's time and skills are valuable, and we want to ensure that they can easily find meaningful opportunities to contribute their expertise and make a positive impact. By streamlining the process of connecting volunteers with non-profit organizations, we aim to facilitate a seamless and efficient experience for both parties.</p>
                <p class="leading-relaxed mb-2 w-[90%] text-lg">Through our website, non-profit organizations can create profiles, highlighting their missions, objectives, and the specific volunteer roles they require. Volunteers, on the other hand, can create profiles detailing their skills, interests, and availability. Our advanced matching algorithms analyze this information and pair volunteers with organizations that align with their passions and capabilities, ensuring that each collaboration is mutually beneficial.</p>
                <p class="leading-relaxed mb-2 w-[90%] text-lg">At LinkToServe, we believe that everyone has the power to make a difference. Join our vibrant community today and discover the joy of community service, while positively impacting the lives of others. Together, let us create a world where individuals and organizations work hand in hand to build stronger, more compassionate communities.</p>
            </div>
            <div class="w-1/2 space-y-6">
                <div class="relative">
                    <img class="rounded-2xl" src="/img/adrianna-geo-Z5ZdkWjMTCY-unsplash.jpg" alt="">
                    <div class="absolute rounded-2xl inset-0 bg-gradient-to-r from-color-gray to-color-primary-dark mix-blend-overlay"></div>
                </div>
                <div class="relative">
                    <img class="rounded-2xl" src="/img/natalie-pedigo-wJK9eTiEZHY-unsplash.jpg" alt="">                
                    <div class="absolute rounded-2xl inset-0 bg-gradient-to-r from-color-gray to-color-primary-dark mix-blend-overlay"></div>
                </div>
                
            </div>
        </div>
    </div>
</section>
