<section class="bg-color-primary-light relative" id="home">
    <div class="container py-20">
        <div class="flex flex-col items-center z-20 md:flex-row">
            <div class="mb-12 text-left w-1/2 pr-10">
                <h1 class="text-4xl font-bold leading-snug mb-4">What we do?</h1>
                <p class="leading-relaxed mb-10 w-[70%] text-lg">Welcome to LinkToServe, where the spirit of service thrives. Discover meaningful opportunities as non-profit organizations and dedicated volunteers unite, igniting positive change within communities. Join us in building a brighter future together through the transformative power of community service. Login as a volunteer or an organization.</p>
                <div class="space-x-12">
                    <a class="bg-color-secondary tracking-wider px-8 py-3 capitalize hover:opacity-80 ease-in rounded-md text-md font-bold" href="/volunteer">Volunteer</a>
                    <a class="bg-color-secondary tracking-wider px-8 py-3 capitalize hover:opacity-80 ease-in rounded-md text-md font-bold" href="/organization">Organization</a>
                </div>
            </div>

            <div class="w-1/2 relative ">
                <img src="/img/larm-rmah-AEaTUnvneik-unsplash-min.jpg" alt="">
                <div class="absolute inset-0 bg-gradient-to-r from-color-gray to-color-primary-dark mix-blend-overlay"></div>
            </div>
        </div>
    </div>
</section>
